<html>
<head>
    <title>Configure global credentials</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("co.miraclelab.atlassian.confluence.DynamicPages:macro-config-servlet-resources")
</head>
<body>
<form class="aui" method="POST">

    <div class="field-group">
        <label for="credential-key">Key</label>
        <input class="text full-width-field" type="text" id="credential-key" name="key">
    </div>


    <div class="field-group">
        <label for="credential-username">Username</label>
        <input class="text full-width-field" type="text" id="credential-username" name="username">
    </div>

    <div class="field-group">
        <label for="credential-password">Password</label>
        <input class="text full-width-field" type="password" id="credential-password" name="password">
    </div>

##    <div class="field-group">
##        <label for="select-access">Access Groups</label>
##        <select class="select full-width-field" id="select-access" name="access" multiple="">
##            #foreach($group in $groups)
##                <option value="$group">$group</option>
##            #end
##        </select>
##    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Submit" id="form-submit-button">
            <a class="cancel" href="$baseURL/secure/Dashboard.jspa">Cancel</a>
        </div>
    </div>

    <table class="aui" id="credential-table">
        <thead>
        <tr>
            <th id="tr-id" width="5%">#</th>
            <th id="tr-key" width="25%">Key</th>
            <th id="tr-username" >Username</th>
            <th id="tr-password" width="10%">Password</th>
            <th id="tr-active" width="10%">active</th>
##            <th id="tr-access">access</th>
            <th id="tr-action" width="15%">action </th>
        </tr>
        </thead>
        <tbody>
        #foreach($credential in $credentials)
        <tr id="$credential.getId()">
            <td headers="tr-key">$credential.getId()</td>
            <td headers="tr-key">$credential.getKey()</td>
            <td headers="tr-username">$credential.getUsername()</td>
            <td headers="tr-password">******</td>
            <td headers="tr-active" class="toggle">
                #if($credential.isActive())
                    <span class="aui-lozenge aui-lozenge-success">Active</span>
                #else
                    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">Inactive</span>
                #end
            </td>
##            <td headers="tr-access">
##                #foreach($access in $credential.getAccess())
##                    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">$access</span>
##                #end
##            </td>
            <td headers="tr-action">
                <button class="aui-button" title="Active/Deactive" id="credential-toggle"><span class="aui-icon aui-icon-small aui-iconfont-approve"></span></button>
                <button class="aui-button" title="Delete" id="credential-delete"><span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span></button>
            </td>
        </tr>
        #end
        </tbody>
    </table>
</div>
</form>

</body>
</html>